@charset "UTF-8";

h1 {
  font-family: Garamond;
  font-style: italic;
  text-decoration: underline;
  font-size: 50px;
  color: rgb(0, 255, 255);
}

body {
  background-image: url("https://uploads.codesandbox.io/uploads/user/7b9d92b2-189c-46c9-b916-b451b3ac0bcc/ve00-vlk2.jpg");
  background-size: 150% 100%;
  background-repeat: no-repeat;
}

#img1 {
  -webkit-transform: scaleX(-1);
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  filter: fliph;
}
